
@import './app/main/main.component.theme';

@mixin themed-styles($theme, $typography) {
    /* Include themed component mixins or theme dependent styles here */
    @include main-component-theme($theme, $typography);
}

@mixin global-styles {
    .inventory-form {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;

        &__sectionhead {
            text-decoration: underline;
        }

        &__field {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: .5rem;
        }

        &__instructions {
            line-height: normal;
            font-style: italic;
            margin-bottom: 1rem;
        }

        &__submit-button {
            margin-top: .5rem;
        }

        & > mat-form-field {
            width: 20rem;
            margin: 0 auto;
            margin-bottom: .4rem;
        }
    }
}
