<div *ngIf="!(dataLoadRunning$ | async); else dataLoadRunningDisplay">
    <div class="eca-actions">
        <button
                mat-flat-button
                color="secondary"
                disabled="true"
                [routerLink]="['/']"
        >
            Back
        </button>
        <button
                mat-flat-button
                color="primary"
                [disabled]="barcodeForm.invalid || (loading$ | async)"
                (click)="onSubmit()"
        >
            Next
        </button>
    </div>

    <div>
        <form action="onSubmit()" [formGroup]="barcodeForm" class="inventory-form">
            <h2 style="font-style: italic; line-height: normal; margin-bottom: 1rem" class="inventory-form__instructions">
                Let's get started! To begin, please load an XLSX file containing a list of
                barcodes.
            </h2>

            <!-- File Input -->
            <div class="inventory-form__field">
                <label for="fileInput">Barcode File</label>
                <input
                        formControlName="barcodeXLSXFile"
                        (change)="onFileSelect($event)"
                        id="fileInput"
                        type="file"
                        accept=".xlsx"
                />
            </div>

            <!-- File Input -->
            <mat-form-field class="inventory-form__field">
                <mat-label>Scan Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="scanDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <!-- Reuse data. Show only if there is a history of processing this file. -->
            <div *ngIf="previousRun && mode === 'job'">
                <app-run-info prefix="Previous" [runInfo]="previousRun"></app-run-info>
                <p style="margin-top: .75rem; font-weight: bold;">
                    Your file looks very similar to this previous run. To save 1 of your
                    institution's 5 hourly runs, should we reuse this data?
                </p>
            </div>

            <div class="inventory-form__field">
                <label for="useCachedResultsInput">Reuse data?</label>
                <mat-radio-group
                        id="useCachedResultsInput"
                        formControlName="useCachedResults"
                >
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="inventory-form__field">
                <label for="useCachedResultsInput">Data Load Mode</label>
                <mat-radio-group
                        id="modeInput"
                        formControlName="mode"
                >
                    <mat-radio-button value="job">Job API (recommended)</mat-radio-button>
                    <mat-radio-button value="api">Items API (Alpha)</mat-radio-button>
                </mat-radio-group>
            </div>

            <p *ngIf="!previousRun">
                Clicking 'Next' will load data from Alma. Loading may take a few minutes
            </p>
        </form>
    </div>
</div>

<ng-template #dataLoadRunningDisplay>
    <div *ngIf="mode==='job'" class="spinner-container">
        <mat-progress-spinner
                mode="indeterminate"
                diameter="50"
        ></mat-progress-spinner>
        <div *ngIf="setService.createBaseSetProgress$ | async as baseSetInfo">
            <p>Set Creation: {{baseSetInfo}}</p>
        </div>
        <div *ngIf="setService.addMembersToSetProgress$ | async as addMembersProgress">
            <p>Successfully Added {{addMembersProgress.membersAdded}} / {{addMembersProgress.totalMembers}} physical items to set.</p>
        </div>
        <div *ngIf="ejs.dataExportJobProgress$ | async as jobProgress">
            <p>Job with ID {{jobProgress.id}} started.</p>
            <p>Progress: {{jobProgress.percentage}}%</p>
            <p>Status: {{jobProgress.status}}</p>
        </div>
    </div>

    <div *ngIf="mode==='api'" class="spinner-container">
        <mat-progress-spinner *ngIf="bies.total > 0; else initializing" mode="determinate"
                              diameter="50" [value]="bies.complete / bies.total">
        </mat-progress-spinner>
        <ng-template #initializing>
            <p>Initializing...</p>
        </ng-template>
        <p>Total: {{bies.total}}</p>
        <p>Complete: {{bies.complete}}</p>
    </div>
</ng-template>