.inventory-form {
  display: flex;
  flex-direction: column;

  &__field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .6rem;
  }

  &__instructions {
    line-height: normal;
    font-style: italic;
    margin-bottom: 1rem;
  }

  &__submit-button {
    margin-top: .5rem;
  }
}