<div *ngIf="!(reportLoading$ | async) else reportLoadingDisplay">
    <div class="eca-actions">
        <button
                mat-flat-button
                color="secondary"
                disabled="false"
                (click)="onBack()"
        >
            Back
        </button>
        <button [disabled]="this.inventoryForm.invalid" mat-flat-button color="primary" (click)="onSubmit()">Next
        </button>
    </div>

    <h2 style="font-style: italic; margin-bottom: 0;">Choose your report parameters and click Next!</h2>

    <div>
        <form action="onSubmit()" [formGroup]="inventoryForm" class="inventory-form">

            <h2 style="margin-bottom: .5rem" class="inventory-form__sectionhead">Report Settings</h2>

            <!-- Call Number Type input -->
            <mat-form-field>
                <mat-label>Call Number Type</mat-label>
                <mat-select formControlName="callNumberType">
                    <mat-option value="LC">Library of Congress</mat-option>
                    <mat-option value="Dewey">Dewey Decimal</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Desired library input -->
            <mat-form-field>
                <mat-label>Library</mat-label>
                <mat-select formControlName="library" onchange="">
                    <mat-option *ngFor="let library of institutionLibrariesForDropdown" [value]="library.code">{{ library.name ? library.name : library.code }}
                        ({{ library.count }} items)
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Scan Location Input -->
            <mat-form-field>
                <mat-label>Scan Location(s)</mat-label>
                <mat-select formControlName="scanLocations" multiple>
                    <mat-option *ngFor="let scanLocation of scanLocationsForDropdown"
                                [value]="scanLocation.code">{{ scanLocation.name ? scanLocation.name : scanLocation.code }} ({{ scanLocation.count }} items)
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Primary Item Type Input -->
            <mat-form-field>
                <mat-label>Expected Item Type(s) for scanned location(s)</mat-label>
                <mat-select formControlName="expectedItemTypes" multiple>
                    <mat-option *ngFor="let itemType of itemTypesForDropdown" [value]="itemType.code">{{ itemType.name ? itemType.name : itemType.code }}
                        ({{ itemType.count }} items)
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Primary Policy Type Input -->
            <mat-form-field>
                <mat-label>Expected Policy Type(s) for scanned location(s)</mat-label>
                <mat-select formControlName="expectedPolicyTypes" multiple>
                    <mat-option *ngFor="let policyType of policyTypesForDropdown" [value]="policyType.code">{{ policyType.name ? policyType.name : policyType.code }}
                        ({{ policyType.count }} items)
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!--      Whether to allow blank item policy      -->
            <div style="margin-top: -.5rem; margin-bottom: 1rem" class="inventory-form__field">
                <mat-checkbox formControlName="allowBlankItemPolicy">Allow Blank Item Policy</mat-checkbox>
            </div>

            <!-- Which problems to report -->
            <mat-form-field>
                <mat-label>Limit Problem Types?</mat-label>
                <mat-select formControlName="limitOrderProblems">
                    <mat-option value="no">No</mat-option>
                    <mat-option value="onlyOrder">Only call number order problems</mat-option>
                    <mat-option value="onlyOther">Only problems other than call number order</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Report Only Problems input -->
            <div class="inventory-form__field">
                <label for="reportOnlyProblems">Report Only Problems?</label>
                <mat-radio-group id="reportOnlyProblems" name="reportOnlyProblems" formControlName="reportOnlyProblems">
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="inventory-form__field">
                <label for="sortBy">Sort By</label>
                <mat-radio-group name="sortBy" id="sortBy" formControlName="sortBy">
                    <mat-radio-button value="correctOrder">Correct Order</mat-radio-button>
                    <mat-radio-button value="actualOrder">Scanned Order</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="inventory-form__field">
                <label style="max-width: 12rem" for="sortMultiVolumeByDescription">Try sorting Multi-Volume by description?</label>
                <mat-radio-group name="sortMultiVolumeByDescription" id="sortMultiVolumeByDescription"
                                 formControlName="sortMultiVolumeByDescription">
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <br>
            <h2 class="inventory-form__sectionhead">Postprocess Settings</h2>

            <div class="inventory-form__field">
                <label for="markAsInventoried">Mark Items as Inventoried</label>
                <mat-radio-group name="markAsInventoried" id="markAsInventoried" formControlName="markAsInventoried">
                    <mat-radio-button [value]=true>Yes</mat-radio-button>
                    <mat-radio-button [value]=false>No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="inventory-form__field">
                <label for="scanInItems">Scan In Items</label>
                <mat-radio-group name="scanInItems" id="scanInItems" formControlName="scanInItems">
                    <mat-radio-button [value]=true>Yes</mat-radio-button>
                    <mat-radio-button [value]=false>No</mat-radio-button>
                </mat-radio-group>
            </div>

            <!-- Circ Desk Input -->
            <mat-form-field *ngIf="inventoryForm.get('scanInItems').value">
                <mat-label>Circ Desk for Scan In Operation</mat-label>
                <input matInput formControlName="circDesk" placeholder="Circ Desk Code">
            </mat-form-field>
        </form>
    </div>
</div>

<ng-template #reportLoadingDisplay>
    <div class="spinner-container">
        <mat-progress-spinner
                style="margin-bottom: 1rem;"
                mode="indeterminate"
                diameter="50"
        ></mat-progress-spinner>
        <div *ngIf="setService.createBaseSetProgress$ | async as baseSetInfo">
            <p>Set Creation: {{baseSetInfo}}</p>
        </div>
        <div *ngIf="postProcessService.scanInJobProgress$ | async as scanInJobProgress">
            <p>Items Scanned: {{scanInJobProgress.scanned}}/{{scanInJobProgress.total}}</p>
        </div>
        <div *ngIf="this.inventoryForm.get('markAsInventoried').value">
            <p *ngIf="(postProcessService.markAsInventoriedStarted$ | async ) as inventoryJob; else notStarted">Mark As Inventoried: Started in field '{{inventoryJob.markAsInventoriedField}}'</p>
            <ng-template #notStarted>
                <p>Mark As Inventoried: Not Started</p>
            </ng-template>
        </div>
    </div>
</ng-template>
