<div class="run-info">
  <h3>{{ this.prefix ? this.prefix + " " : "" }}Run Report</h3>

  <div class="run-info__data">
    <div class="datapoint">
      <p class="datapoint__name">Job ID:</p>
      <p class="datapoint__value">
        {{
          this.runInfo.jobId
        }}
      </p>
    </div>
    <div class="datapoint">
      <p class="datapoint__name">Run Date:</p>
      <p class="datapoint__value">{{ this.runInfo.jobDate | date }}</p>
    </div>
    <div *ngIf="!minimized" class="datapoint">
      <p class="datapoint__name">File Name:</p>
      <p class="datapoint__value">{{ this.runInfo.inputFileName }}</p>
    </div>
    <div *ngIf="!minimized" class="datapoint">
      <p class="datapoint__name">Number of Barcodes:</p>
      <p class="datapoint__value">{{ this.runInfo.numberOfRecords }}</p>
    </div>
    <div *ngIf="!minimized" class="datapoint">
      <p class="datapoint__name">First Barcode:</p>
      <p class="datapoint__value">{{ this.runInfo.firstBarcode }}</p>
    </div>
  </div>
</div>
